@import url(variables.css);

body{
    background-color: rgb(228, 227, 227);
}
.container1{
    position: absolute;
    border-radius: 15px;
    background-color: #fff;
    width: 90vw;
    height: auto;
    width: auto;
    right: 30px;
    bottom: 30px;
    left: 150px;
    top: 100px;
    display: flex;
    /* justify-content: center; */
    padding: 1.5% 2%;
    justify-content: space-between;
}
.heading{
    left: 120px;
    position: absolute;
    top:0;
    font-size: 3rem;
}
.card1{
    display: flex;
    height: 180px;
    width: 40%;
    min-width: 300px;
    border: 1px solid;
    padding: 10px 20px;
    margin: 10px 10px;
}
/* .card1 >img{
    padding-left: 20px;
} */
.maintext{
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: auto; 
    padding-left: 30px;
    position: relative;
    /* top: 50%; */
    justify-content: center;
}
.text1{
    font-size: 1.5rem;
    width: 380px;
}
.card2{
    display: flex;
    height: 180px;
    border: 1px solid;
    padding: 10px 20px;
    margin: 10px 10px;
}
.profileimg{
    width: 180px;
    height: 180px;
}
.card2 > .header{
    font-size: 1.8rem;
}